$font: 'Poppins',
sans-serif;

$text-color: #111111;

$heading-color: #070707;

$primary-color: #1B76A1;

// global
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1213px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1440px;
    margin: -3px;
}

body {
    line-height: 1;

    font-family: $font;

    color: $text-color;

    font-weight: 400;
}

.button {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: $font;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 24px 43px;

    &--primary {
        background-color: $primary-color;
        color: #ffffff;

    }

    &--gray {
        background-color: #F2F2F2;
        color: #342C2C;
        margin-left: 30px;
    }

    &--outline {
        background-color: white;
        color: #3A81A3;
        border: 1px solid;
    }
}


.text-logo {
    size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

// header
.header {
    padding-top: 65px;
    padding-bottom: 38px;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 50px;
    font-size: 12px;

    &-link {
        color: inherit;
    }

    .login {
        padding: 10px 31px;
        color: #ffffff;
        border: 1px solid;
        font-weight: 600;
        background-color: $primary-color;
    }

}

// hero
.hero {
    &-container {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        display: inline-flex;
    }

    &-content {
        // height: 773px;
        max-width: 1041px;

        .text-content {
            margin-left: 13px;
            margin-top: 42px;
            max-width: 636px;
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            color: $text-color;
        }

        &-heading {

            width: 1041px;
            font-weight: 600;
            font-size: 200px;
            line-height: 170px;
            margin: 31px 0;
        }
    }

    &-images {
        // background: #fff;
        // position: relative;
        // z-index: 1;
        // width: auto;
        transform: translateX(-70%)
    }

    &-text {
        margin-top: 61px;
        margin-left: 13px;
        display: flex;
        margin-left: 26px;
        border-radius: 1rem;
        background-color: #F2F2F2;
        max-width: 368px;
        max-height: 36px;

        .new {
            padding: 4px 11px;
            color: #ffffff;
            border-radius: 1rem;
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            background-color: $primary-color;
            margin: 6px 11px;
            margin-right: 15px;
        }

        .new-text {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

// intro

.intro {
    max-width: 1440px;
    height: 200px;
    &-container {
        background: #1B76A1;
        padding: 63px 145px 62px 149px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 200px;
        color: white;
    }
    &-info {
        text-align: center;
    }
    &-h {
        font-weight: 600;
        font-size: 50px;
        line-height: 45px;
        margin: 0 0;
    }

    &-text {
        margin-top: 16px;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
    }
}


// feature

.feature {
    background-color: #F2F2F2;;
    &-container {
        padding: 80px 0 80px;
    }
    &-header {
        max-width: 442px;
        margin: 0 auto 72px;
        text-align: center;
    }
    &-list {
        display : grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 48px;
    }
    &-item {
        background: #FFFFFF;
        box-shadow: 0px 20px 50px rgba(81, 102, 112, 0.12);
        border-radius: 10px;
        padding: 35px 35px 49px 20px;
        padding-left: 35px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        
    }
    &-title {
        margin-top: 30px;
        width: 200px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #342C2C;
        margin-bottom: 6px;
    }
    &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }

}

// popular

.popular {
    background-color: #FFFFFF;
    &-container {
        padding: 120px 0 80px;
    }
    &-content{
        font-weight: 600;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    &-seemore {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        text-align:right;
        margin-right: 1px;
        margin-top: 0;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    img {
        background: linear-gradient(360deg, #FFFFFF 3.4%, rgba(196, 196, 196, 0) 40.61%);
        border-radius: 10px;
    }
    &-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 35px;
        margin-left: 22px;
        margin-bottom: 15px;
        transform: translateY(-50%)
    }
    &-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        margin-left: 22px;
    }
}


// intro
.Instructor {
    background-color: #FFFFFF;
    &-container {
        padding: 60px 0 120px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    &-content {
        font-weight: 600;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    &-seemore {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        /* identical to box height, or 181% */

        text-align: right;
        letter-spacing: 0.5px;
    }
    &-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 35px;
        transform: translateY(-50%);
        margin-left: 22px;
    }
    &-info {
        display: inline-flex;
        padding: 0 22px;
        .job {
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            margin: 0;
            margin-right: 67px;
        }
        .classes {
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            margin: 0;
            text-align: right;
        }
    }

}

//why
.why {
    background-color: #FFFFFF;
    &-container {
        display: flex;
        padding: 100px 0 115px;
        transform: translateX(-23%);
        p {
            margin: 0;
        }
    }
    .primary {
        color: $primary-color;
    }
    &-content {
        transform: translateX(35%);
    }
    &-item {
        display: flex;
        margin-bottom: 80px;
    }
    &-number {
        margin-top: 35px;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        color: #1B76A1;
        margin-right: 50px;
    }
    .look {
        transform: translateX(43%);
        text-align: right;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
    }
    &-text {
        .title {
            font-weight: 400;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 20px;
        }
        .decription {
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
        }
    }
    &-title {
        position: relative; 
        width: 835px;
        font-weight: 600;
        font-size: 120px;
        letter-spacing: -2px;   
       margin-bottom: 60px;
    }
    &-images {
    }
}

//what

.what {
    &-container {
        padding: 40px 0 150px;
        display: flex;
        transform: translateX(-9%);
    }
    &-content {
        padding-top: 40px;
        transform: translateX(-33%);
        text-align: right;
    }
    &-info {
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    &-text {
        font-weight: 500;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    &-textarea {
        margin-left: 280px;
        max-width: 562px;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 50px;
    }
    &-title {
        width: 840px;
        font-weight: 600;
        font-size: 120px;
        line-height: 120px;
        margin-bottom: 60px;
        p {
            margin: 0;
        }
        .primary {
            color: $primary-color;
        }
    }
    &-by {
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        margin-right: 130px;
    }
    .rate {
        display: flex;
        margin-left: 275px;
        margin-bottom: 80px;
    }
    .look {
        text-align: right;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
    }
}

// plan
.plan {
    background-color: #1B76A1; /* For browsers that do not support gradients */
    background-image: conic-gradient(#1B76A1 0deg, #1B76A1 90deg, #FFFFFF 90deg, #FFFFFF 180deg, #FFFFFF 180deg, #FFFFFF 270deg, #1B76A1 270deg);
    &-container {
        padding: 100px 0px 273px 0px;
        text-align: center;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 48px;
        
    }
    &-item {
        background: #FFFFFF;
        box-shadow: 0px 20px 60px rgba(81, 102, 112, 0.12);
        border-radius: 10px;
        padding: 50px 33px 60px 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    &-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 40px;
    }
    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        margin-bottom: 43px;
    }
    &-price {
        
        font-weight: 400;
        font-size: 16px;
        color: #342C2C;
        margin-bottom: 60px;
    }
    strong {
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
        color: $primary-color;
    }
    &-heading{
        font-weight: 600;
        font-size: 40px;
        line-height: 35px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 80px;
    }
    span {
        font-weight: 400;
        font-size: 16px;
        color: #111111;
    }
}